@import url('https://fonts.googleapis.com/css?family=Archivo+Black');

body {
	background: #FF0000;
	font-family: avenir, sans-serif;
	font-size: 16px;
	color: white;
	text-align: center;
}

header {
	padding-top: 100px;
	width: 630px;
	margin: auto;
	margin-top: 0;
	margin-bottom: 15px;
}

header img {
	max-width: 200px;
	max-height: 125px;
	float: left;
	background-color: black;
}

#slogan {
	font-style: italic;
	margin-top: 0;
}

nav {
	float: right;
	margin-top: 40px;
	margin-left: 20px;
	padding: 10px 0 5px 0;
}

nav:hover {
	border-bottom: 3px solid white;
}

main {
	width: 730px;
	margin: auto;
}

main div {
	width: 630px;
	box-sizing: border-box;
	border: 5px solid black;
	height: 200px;
	margin: auto;
	margin-bottom: 20px;
	background-color: white;
	font-size: 3em;
	text-align: center;
	color: black;
	line-height: 1em;
	font-family: 'Archivo Black', sans-serif;
	font-size: 4em;
	font-style: italic;
}

#scroller {
	width: 630px;
	height: 300px;
	margin: auto;
	overflow: scroll;
	background: black;
	border-top: 3px solid black;
	border-bottom: 3px solid black;
	position: relative;
	left: -22px;
}

#images {
	padding-bottom: 5px;
	display: flex;
	flex-wrap: wrap;
}

figure {
	width: 200px;
	height: 200px;
	background-color: white;
	margin: 5px;
}

figure p {
	color: black;
	vertical-align: middle;
	font-family: 'Archivo Black', sans-serif;
	font-size: 2em;
	font-style: italic;
	line-height: 130px;
	visibility: hidden;
	text-transform: uppercase;
}

figure:hover p {
	visibility: visible;
}


aside h2 {
	float: left;
	writing-mode: vertical-lr;
	font-size: 2em;
	font-style: italic;
	margin: 0;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

a {
	color: white;
	text-decoration: none;
}

footer {
	padding-bottom: 100px;
	width: 630px;
	display: block;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

#contact {
	float: right;
	padding: 10px 0 5px 0;
}

#contact:hover {
	border-bottom: 3px solid white;
}

#copyright {
	float: left;
	font-size: 10px;
	margin-top: 15px
}


/* <img src="images/square.jpg">
<img src="images/square copy.jpg">
<img src="images/square copy 2.jpg">
<img src="images/square copy 3.jpg">
<img src="images/square copy 4.jpg">
<img src="images/square copy 5.jpg"> */