@import url('https://fonts.googleapis.com/css?family=Archivo+Black');

body {
	background: #FF0000;
	font-family: avenir, sans-serif;
	font-size: 16px;
	color: white;
	text-align: center;
}

header {
	padding-top: 100px;
	width: 630px;
	display: inline-block;
	margin: auto;
	background-color: #FFED74;
}

header img {
	max-width: 250px;
	max-height: 125px;
	float: left;
}

#slogan {
	float: left;
	font-style: italic;
	margin-top: 0;
}

nav {
	float: right;
	margin-top: 40px;
	margin-left: 10px;
	padding: 10px;
	background-color: #E8C66A;
}

main {
	width: 800px;
	margin: auto;
}

#scroller {
	width: 630px;
	height: 300px;
	margin: auto;
	display: inline-block;
	overflow: scroll;
	/*background: black;*/
	border-top: 3px solid black;
	border-bottom: 3px solid black;
	position: relative;
	left: -2em;
	background-color: #FFE2B8;
}

#images {
	padding-bottom: 5px;
	display: flex;
	flex-wrap: wrap;
	background-color: #FFE2B8;
}

figure {
	width: 200px;
	height: 200px;
	background-color: white;
	margin: 5px;
}

figure p {
	color: black;
	vertical-align: middle;
	font-family: 'Archivo Black', sans-serif;
	font-size: 2em;
	font-style: italic;
	line-height: 130px;
	visibility: hidden;
	text-transform: uppercase;
}

figure:hover p {
	visibility: visible;
}


aside h2 {
	float: left;
	writing-mode: vertical-lr;
	font-size: 3em;
	font-style: italic;
	margin: 0;
	display: inline-block;
	background-color: #FFC675;
}

a {
	color: white;
	text-decoration: none;
}

footer {
	padding-bottom: 100px;
	width: 630px;
	display: block;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FF957E;
}

#contact {
	float: right;
	padding: 10px 0px 10px 10px;
}

#copyright {
	float: left;
	font-size: 10px;
	margin-top: 15px
}

@media screen and (max-width: 815px) {
	header, footer, #scroller {
		width: 80%;
	}

	header, footer  {
		display: flex;
		flex-wrap: wrap;
	}
}


/* <img src="images/square.jpg">
<img src="images/square copy.jpg">
<img src="images/square copy 2.jpg">
<img src="images/square copy 3.jpg">
<img src="images/square copy 4.jpg">
<img src="images/square copy 5.jpg"> */